body{
    font-family:'Epilogue', 'Inter', 'Roboto' ;
    overflow-x: hidden;
}

main {
    margin: 0 auto;
    max-width: 1440px;
    width: 100%;
}
/* Navigation ===================================*/
.header{
    display: flex;
    width: 100%;
    /*min-width: 1220px;*/
    height: 85px;
    background: #48898D;
    justify-content: space-between;
}

.header__logo{
    display: flex;
    justify-content: space-between;
    align-items:center ;
    margin: 0 0 0 80px;
    width: 10%;
}
.block_name{
    font-size: 20px;
    color: #FFFFFF;
    margin: 0 0 0 15px;
    padding: 0 0 0 0;
}
.nav {
    width: 40%;
    display: flex;
    justify-content:center;
    align-items: center;
    margin: 0 0 0 30%;
    font-family:'Epilogue';
    
}
.nav__spisok{
    display: flex;
    width: 100%;
    justify-content: space-between;
    
}
.nav__spisok li {
    display: flex;
    height: 100%;
    font-size: 0.9375rem;
}
.nav__spisok a {
    color: white;
    text-decoration: none;
    cursor: pointer;
}

.nav__spisok a:hover {
    color:black;
    transition-duration: 1s ;
}
.burger_menu{
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* margin: 0 80px 0 0; */
    padding: 0 80px 0 0;
}
.head1px {
    width: 25px;
    height: 3px;
    background: white;
    margin: 0 0 6px 0;
}
.head1px2{
    width: 25px;
    height: 3px;
    background: white;
}
.burger_menu:hover {
    cursor: pointer;
}

/*==============================================*/

/*===============Block-Develop=========================*/
.Block-Develop{
    margin: 0 auto;
    width: 100%;
    /*max-width: 90rem;*/
}
.idevelop {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    background: #136D5D;
    /*min-width: 90rem;*/
}
.idevelop__left-block{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.develop__info {
    display: flex;
    justify-content: space-between;
}

.idevelop__present {
    width: 43.0625rem;
    height: 14.1875rem;
    font-family: 'Roboto';
    font-size: 4.5rem;
    line-height: 90%;
    color:#FFFFFF;
    margin: 35px 0 0 80px;
}
.idevelop__txt {
    width: 33.9375rem;
    height: 6.4375rem;
    font-family: 'Inter';
    font-size: 1.375rem;
    color:#FFFFFF;
    margin: 25px 0 0 80px;
}
.idevelop-write{
    width: 199px;
    height: 65px;
    margin: 5px 0 0 80px;
}

.idevelop__btm {
    border-radius: 32px;
    width: 100%;
    height: 100%;
    background: #FFFFFF;
    font-size: 1.125rem;
    color: #000000;
}
.idevelo-write-img{
    position: absolute;
    margin: -3px 0 0 0;
}
.idevelop__btm:hover {
    cursor: pointer;
    background: aqua;
    transition-duration: 2s;
    color:#136D5D;
}

.cubock{
    display: flex;
    justify-content: space-between;
    margin: 100px 0 0 80px;
    align-items: center;
    flex-wrap: wrap;
    width: 38.75rem;
    height: 4rem;
}

.cubock__txt {
    display: flex;
    flex-wrap: wrap;
    margin: 0 9.375rem 0 0;
    font-size: 1.125rem;
    line-height: 26px;
    font-family: 'Epilogue';
    color: #FFFFFF;
}

.cubock_altshu {
    display: flex;
    flex-wrap: wrap;
    margin: -20px 0 0 100px;
    font-family: 'Epilogue';
    font-size: 0.9375rem;
    line-height: 22px;
    color:rgba(255, 255, 255, 0.6);
}
.cubock_altshu:hover {
    color:aqua;
    transition-duration: 1s;
}
.develop__right-img {
    width: 100%;
}

/*====================ABOUT=======================*/

.about__dev{
    display: flex;
    margin: 144px 80px 0 ;
}
.about__block-left{
    
    width: 400px;
    height: 398px;
}
.about__name {
    display: flex;
    justify-content: space-between;
    width: 180px;
    height: 8px;
    margin: 5px 0 0 0;
}

.about__name-img{
    margin: 0 0 -4px 0;
}
.about__dev-nametxt{
    text-transform: uppercase;
    color: #48898D;
    margin-top: 0;
    margin: 0 15px 0 0;
}
.about__dev-star{
    margin: 120px 0 0 0;
}

.about__txt {
    font-family: 'Inter';
    font-size: 19px;
    line-height: 28px;
    margin: 23px 0 0 0;
}
.about_anastasia {
    display: flex;
    flex-wrap: wrap;
    margin: 45px 0 0 0;
}
.about__anastasia-name {
    font-family: 'Epilogue';
    font-size: 1.125rem;
    margin: 5px 0 0 0;
    line-height: 24px;
}

.about_anastasia-progress {
    font-family: 'Epilogue';
    font-size: 0.625rem;
    line-height: 24px;
    color: #000000;
    margin: -30px 0 0 60px;
}

.about__block-right {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 790px;
    height: 398px;
    margin:0 0 0 90px;
}

.about__dev-info{
    display: flex;
    flex-wrap: wrap;
    font-family: 'Roboto';
    font-size: 3rem;
    line-height: 54px;
    font-weight: 400;
    color:#000000;
    margin-top: 0;
}

.about__years225 {
    display: flex;
    justify-content: space-between;
    
}
.about__years-months {
    width: 230px;
    height: 124px;
}
.about__years-txt {
    font-family: 'Epilogue';
    font-size: 1.3125rem;
    font-weight: 400;
    line-height: 1.9375rem;
    color: #000000;
}

.about__years-project{
    font-family: 'Epilogue';
    font-size: 1.375rem;
    font-weight: 400;
    line-height: 1.9375rem;
    color: #000000;
    width: 230px;
    height: 124px;
}
.about__years-txt-p {
    display: block;
    margin: 15px 0 0 0;
}

.about__years-techno {
    font-family: 'Epilogue';
    font-size: 1.375rem;
    font-weight: 400;
    line-height: 31px;
    color: #000000;
    width: 230px;
    height: 124px;
}
.about__years-txt-t {
    display: block;
    margin: 12px 0 0 0;
}

.about__skill {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin: 0 0 0 0;
}
/* ================================= */

/* ===================Work ====================*/

.work__rep{
    width: 80rem;
    /*height: 177.5rem;*/
    margin: 9rem 5rem 0;
    flex-wrap: wrap;
}
.work__rep-name{
    display: flex;
    justify-content: space-between;
    width: 180px;
    height: 8px;
}
.work__rep-vector{
    margin: 0 0 -4px 0;
}
.work__rep-nametxt {
    font-family: 'Epilogue';
    text-transform: uppercase;
    color:#4543E8;
    margin: 0 15px 0 0;
    font-size: 16px;
    line-height: 24px;
}
.work__rep-head {
    display: flex;
    flex-wrap: wrap;
    width: 43.625rem;
    height: 8.25rem;
    margin: 25px 0 0 0;
}
.work__rep-headz {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 60px;
    line-height: 55px;
    margin-top: 0;
}

.work__rep-mywork {
    display: flex;
    justify-content: space-between;
    margin: 80px 0 0 0;
    height: 29.1875rem;
}
.work__rep-myworkLook {
    font-family: 'Inter';
    font-size: 2.5rem;
    font-weight: 400;
    line-height: 28px;
    max-width: 25.5rem;
    max-height: 1.875rem;
}
.work__rep-mywork-txt{
    font-family: 'Inter';
    font-size: 1.5rem;
    line-height: 1.75rem;
    height: 6.25rem;
    max-width:18.75rem;
}
.work__rep-myworkLeft-img {
    width: 100%;
}

.work__rep-mywork-aboutSome {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 250px 0 0 0;
}

.work__rep-mywork-some-water{
    width: 100%;
    max-width: 39rem;
    height: 41.5625rem;
    object-fit: cover;
}
.work__rep-mywork-some-zag {
    font-family: 'Epilogue';
    font-size: 24px;
    font-weight: 400;
    line-height:30px;
    color: #000000;
}
.work__rep-mywork-some-txt {
    font-family: 'Epilogue';
    font-size: 0.75rem;
    font-weight: 400;
    line-height: 28px;
    max-width: 459px;
}
.work__rep-mywork-about {
    margin: 0 0 0 24px;
}
.work__rep-mywork-about-mac{
    object-fit: cover;
    max-width: 38.25rem;
    max-height: 41.0625rem;
}
.work__rep-mywork-about-zag{
    font-family: 'Epilogue';
    font-size: 1.5rem;
    line-height: 30px;
    font-weight: 400;
}
.work__rep-mywork-about-txt{
    font-family: 'Epilogue';
    font-size: 0.75rem;
    line-height: 28px;
    max-width: 500px;
    max-height: 56px;
}

.work__rep-ui {
    display: flex;
    justify-content: space-between;
    margin: 160px 0 0 0;
    width: 80rem;
    height: 40.3125rem;
}
.work__rep-ui-ux-devices {
    object-fit: cover;
    width: 26.8125rem;
    height: 30.5625rem;
}
.work__rep-ui-origin {
    font-family: 'Epilogue';
    font-size: 1.5rem;
    line-height: 30px;
    font-weight: 400;
}
.work__rep-ui-txt{
    font-family: 'Epilogue';
    font-size: 0.75rem;
    font-weight: 400;
    line-height: 28px;
}
.work__rep-htmlCss {
    width: 100%;
    max-width: 32rem;
    max-height: 31.5625rem;
}
.work__rep-htmlCss-card {
    object-fit: cover;
}
.work__rep-htmlCss-zag {
    font-family: 'Epilogue';
    font-size: 1.5rem;
    line-height: 30px;
    font-weight: 400;
}
.work__rep-htmlCss-txt {
    font-family: 'Epilogue';
    font-weight: 400;
    font-size: 0.75rem;
    line-height: 28px;
}
.work__rep-mywork-aboutSome-btm {
    width: 470px;
    height: 124px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 100px 0 0 30%;
}
.work__rep-mywork-aboutSome-btmBig {
    display: block;
    width: 100%;
    background:#48898D;
    border-radius: 62px;
    width: 470px;
    height: 124px;
    font-family: 'Epilogue';
    font-size: 1rem;
    line-height: 24px;
    text-transform: uppercase;
    color: white;
}

.work__rep-mywork-aboutSome-btmBig:hover {
    cursor: pointer;
    background: aqua;
    transition-duration: 1s;
    color: black;
}


/*================= CONTACT ====================*/

.footer{
    width: 100%;
    height: 45.6875rem;
    background: #010032;
}
.footer__header {
    margin: 102px 0 0 27%;
    display: flex;
    width: 180px;
    height: 15px;
    justify-content: space-between;
    padding: 35px 0 0 0;
}

.footer__logo-img{
    margin: 0 0 4px 0;
    color: white;
}
.foooter__hedaer-cont {
    font-family: 'Epilogue';
    font-size: 16px;
    line-height: 24px;
    text-transform: uppercase;
    color: white;
    margin: -5px 0 0 25px;
}

.footer__heavlets {
    width: 121rem;
    height: 6rem;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    /*align-items: center;*/
    margin: 102px 0 0 27%;
    max-width: 100%;
}
.footer__heavlet-heva {
    width: 48.4375rem;
    height: 4.125rem;
    font-family: 'Epilogue';
    font-size: 55px;
    line-height: 66px;
    font-weight: 400;
    color: white;
}
.footer__heavlets-lets {
    width: 27.1875rem;
    height: 4.125rem;
    font-family: 'Epilogue';
    font-size: 50px;
    line-height: 66px;
    font-weight: 400;
    color:#39D7BA;
    margin: 0 37.5rem 0 0;
}

.footer__form {
    display: flex;
    justify-content: space-between;
    width: 80rem;
    height: 275px;
    margin: 0 0 0 27%;
}
.footer__form-mail-ff {
    width: 220px;
    height: 28px;
    background: #010032;
    display: flex;
    flex-direction: column;
    color:  #FFFFFF;
    border: none;
}

input:focus,
input:active{
    outline:none;
}

.footer__form-mail-border1px {
    width: 220px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}
.footer__nav {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 76px;
    height: 215px;
}
.footer__nav-txt {
    font-family: 'Epilogue';
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 28px;
    color: white;
}
.footer__nav-txt:hover {
    cursor: pointer;
    text-decoration: underline;
}

.footer__social {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-between;
    width: 80px;
    height: 215px;
}
.footer__social-txt {
    font-family: 'Epilogue';
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 28px;
    color:white;
}
.footer__social-txt:hover {
    cursor: pointer;
    text-decoration: underline;
}
.footer__subcribe {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 28.75rem;
    height: 5.6875rem;
}

.footer__subcribe-text {
    font-family: 'Epilogue';
    font-style: normal;
    font-weight: 400;
    font-size: 1.125rem;
    line-height: 1.75rem;
    color: #FFFFFF;
}

.footer__subcribe-pole {
    width: 18.125rem;
    height: 3rem;
    border: 1px solid rgba(255, 255, 255, 0.16);
    border-radius: 240px;
    background: #010032;
    color: white;
}
.footer__subcribe-btm {
    width: 8.75rem;
    height: 3rem;
    background: #48898D;
    border-radius: 24px;
}
.footer__subcribe-btm:hover {
    cursor: pointer;
    background: aqua;
}
.authof__design {
    width: 121rem;
    height: 2.75rem;
    margin: 0 auto;
    overflow-x: hidden;
}
.authof__design-polosa {
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    width: 121rem;
}
.authof__design-name {
    font-family: 'Epilogue';
    font-style: normal;
    font-weight: 400;
    font-size: 1rem;
    line-height: 24px;
    color: #FFFFFF;
}

/*====================== ADAPTIV ===========================*/

@media (max-width:1460px) {
    body { 
        overflow-x: hidden;
    }
    .Block-Develop{
        width: 100%;
    }

    .footer {
        display:flex;
        justify-content: space-between;
        width: 100%;
        flex-wrap: wrap;
    }
    .work__rep-mywork-aboutSome-btm {
        margin: 0 0 30px 0
    }
    .footer__heavlets {
        margin: 15px 0 0 27%;
    }
    .footer__form {
        margin: 20px 0 0 27%;
    }
    .footer__subcribe {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        padding: 0 15px 0 0;
    }
}

@media (max-width:1400px) {
    .idevelop {
        width: 100%;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }
    .develop__right-img {
        margin: 20px 0 0 0;
    }
}


@media (max-width:1024px) {
    .about__dev {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    .about__block-right {
        margin: 30px 0 0 0;
    }
    .work__rep {
        width: 100%;
        max-width: 1024px;
        display: flex;
        flex-wrap: wrap;
        /* margin: 50px 0 0 85px; */
    }
    .work__rep-head {
        display: none;
    }
    .work__rep-mywork {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    .work__rep-myworkRight {
        width: 100%;
    }
    .work__rep-myworkLeft-img {
        width: 50%;
    }
    .work__rep-mywork-aboutSome{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        width: 100%;
        max-width: 1024px;
        display: none;
    }
    .work__rep-mywork-some {
        margin: -170px 0 0 0;
        display: none;
    }
    .work__rep-mywork-some-water {
        width: 50%;
    }

    .work__rep-mywork-about {
        margin: 20px 0 0 0;
        display: none;
    }
    .work__rep-ui {
        margin: 20px 0 0 0;
        display: flex;
        flex-wrap:wrap;
        flex-direction: column;
    }
    .work__rep-ui-ux {
        display: none;
    }
    .work__rep-htmlCss{
        width: 25%;
    }
    .work__rep-mywork-aboutSome-btm {
        margin: 85px 0 0 30px;
    }

    .footer{
        margin: 25rem 0 0 0;
    }
    .footer__heavlets {
        display: none;
    }
    .footer__form {
        margin: 20px 0 0 15%;
    }
}

@media (max-width:960px) {
    .block_name {
        display: none;
    }
    .cubock {
        display: none;
    }
}

@media (max-width:768px){
    body {
        overflow-x: hidden;
    }
    .nav {
        display: none;
    }
    .idevelop-write{
        padding: 0 0 15px 0;
    }
    .develop__right-img{
        display: none;
    }
    .about__block-right{
        margin: 0 auto;
    }
    .work__rep {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        margin: 20px auto;
        padding: 0 0 0 85px;
        max-width: 768px;
        width: 100%;
        overflow-x: hidden;
        overflow-y: hidden;
    }
    .footer {
        margin: 0 auto;
    }
    .footer__form{
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        flex-direction: column;
        margin: 0 auto;
        padding: 0 0 0 30px;
    }
    
    /* .footer{
        display: none;
    }
    .footer__form {
        display: none;
    }
    .authof__design {
        display: none;
    } */
}
@media (max-width:560px) {
    .idevelop__info{
        overflow-x: hidden;
    }
    .nav {
        display: none;
    }
    .idevelop__present{
        width: 100%;
    }
    .idevelop__info {
        padding: 0 0 0 5px;
    }
    .idevelop__txt{
        width: 100%;
        margin: 0 auto;
    }
    .idevelop-write {
        padding: 0 0 15px 0;
        margin: 0 auto;
    }
    .idevelop__left-block{
        width: 100%;
    }
    .idevelop__present{
        margin: 0 auto;
    }
    .idevelop__rightblock{
        display: none;
    }
    .about__block-right {
        display: none;
    }
    
    .work__rep {
        width: 100%;
        margin: 0 auto;
    }
    .work__rep-mywork {
        margin: 30px auto;
    }
    .work__rep-myworkRight{
        margin:10px 0 0 0;
    }
    .work__rep-mywork-txt{
        margin: 30px 0 0 0;
    }
    .work__rep-mywork-aboutSome{
        overflow-x: hidden;
        overflow-y: hidden;
        margin: 0 auto;
        width: 100%;
    }
    .work__rep-mywork-some{
        width: 100%;
    }
    .work__rep-mywork-about{
        width: 100%;
    }
    .work__rep-mywork-about-mac{
        width: 100%;
    }
    .work__rep-mywork-aboutSome-btm {
        margin: 20px auto;
        padding: 0 25px 0px 0px;
    }
    
    .work__rep-ui{
        display: none;
    }
    .work__rep-head {
        display: none;
    }
    .footer{
        width: 100%;
    }
    .footer__header {
        margin: 0 auto;
    }
    .footer__nav-txt{
        width: 100%;
        overflow-x:hidden ;
    }
    .footer__form{
        width: 100%;
        overflow-x: hidden;
    }
    .footer__nav{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    .footer__social{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: space-between;
        padding: 0 0 0 150px;
    }
    .authof__design{
        overflow-x: hidden;
        width: 100%;
    }
    .authof__design-polosa{
        width: 100%;
        overflow-x: hidden;
    }
    .footer__subcribe{
        display: none;
    }
    .footer__form-mail{
        display: none;
    }
}

@media (max-width:414px) {
    .about__anastasia-name {
        margin: 200px 0 0 0 ;
    }
    .work__rep {
        margin: 200px 0 0 0 ;
    }
}
